header {
    text-align: center;
    font-size: 3em;
}

main {
    position: absolute;
    height: 75%;
    width: 98.5%;
    border: medium solid black;
    display: block;
}

footer {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
}

footer>ul {
    list-style: none;
}

footer:hover {
    height: auto;
}

.box {
    /*two sides of .5 padding on 2 objects across 100% of the screen = 2% needed for padding*/
    width: 49%;
    height: 48.5%;
    padding: .5%;
    overflow: auto;
}

.top-right {
    float: right;
    background-color: hsla(60, 100%, 50%, .2);
}

.top-left {
    float: left;
    background-color: hsla(240, 100%, 50%, .2);
    display: flex;
}

.bottom-right {
    float: right;
    background-color: hsla(0, 100%, 50%, .2);
    display: flex;
    flex-wrap: wrap;
}

.bottom-left {
    float: left;
    background-color: hsla(120, 100%, 25%, .2);
    display: flex;
    flex-direction: column;
}
